header{
    background-color:#4a4a4a;
    background-top-left-radius:10px;
    background-top-right-radius:10px;    
    text-align: center;
    color: #fff;

}
header img{
    
    width:5%;
}   

header input[type="text"]{
    padding:5px;
    width:50%;
}
.bgRed{
    background-color:red;
}
.brd{
    border:10px dotted ;
}
.pd{
    padding:25px
}